# julia
*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml

# env
.vscode/
.DS_Store

# data
data/

# result
bench/imgs/
bench/csv/
examples/result/
examples/imgs/
test/sienna-files/
*h5
rts-store/
rts-store.zip

